.app-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.main {
  overflow:       hidden;
  display:        flex;
  flex-direction: column;
  position:       absolute;
  top:            0;
  bottom:         0;
  left:           0;
  right:          0;
}

.content {
  overflow: scroll;
  flex:     1;
}

