<mat-toolbar class="menu-header">
  <mat-icon>sports_football</mat-icon>
  Fantasy Fool
</mat-toolbar>

<mat-nav-list>
  <a mat-list-item class="menu-item" href="/">
    <mat-icon matListItemIcon>house</mat-icon>
    Home
  </a>
  <a mat-list-item class="menu-item" href="/league">
    <mat-icon matListItemIcon>sports_football</mat-icon>
    League
  </a>
  <a mat-list-item class="menu-item" href="/teams">
    <mat-icon matListItemIcon>sports_football</mat-icon>
    Teams
  </a>
  <a mat-list-item class="menu-item" href="/scoring">
    <mat-icon matListItemIcon>sports_football</mat-icon>
    Scoring
  </a>
  <a mat-list-item class="menu-item" href="/trades">
    <mat-icon matListItemIcon>sports_football</mat-icon>
    Trades
  </a>
</mat-nav-list>
